{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^.*[.]png$|^.*[.]jpg$|^.*[.]jpeg$|^.*[.]gif$|^.*[.]svg$|^.*[.]webp$|^.*[.]json$|^.*[.]txt$|^.*[.]md$|^.*[.]eot$|^.*[.]ttf$|^.*[.]woff$|^.*[.]woff2$",
    "",
    "^@/components/(.*)$",
    "",
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false
}
