@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

:root {
  --primary: #fefbee;
  --secondary: #005e03;
  --hotpink: #d10096;

  --tertiary-light: #c90b02;
  --tertiary: #ad0000;
  --tertiary-dark: #a8481f;
  --tertiary-table: #e1bea89a;

  --font-merriweather: 'Merriweather', serif;
  --font-merriweather-sans: 'Merriweather Sans', sans-serif;
  --font-braah-one: 'Braah One', sans-serif;
}

*,
html,
body {
  font-size: 12px;
}

.braah-one {
  font-family: 'Braah One', sans-serif;
  font-style: normal;
}

.body-no-scroll {
  height: 100vh !important;
  overflow-y: hidden !important;
}
